
## Functions
export(ec2tds)
export(ion2ec)
export(rtr_mixing)
export(ssi)
export(temp_convert)
export(water_density)

## Functions - stats
importFrom(stats,approx)

## Import packages
import(data.table)
